body {
    font-family: Arial, sans-serif;
    text-align: center;
}

.pantalla {
    display: none;
    padding: 20px;
}


#splash {
    background-color: #ffff;
}

#splash img {
    max-width: 100%;
    
}

#camara {
    width: 250px;
    height: 250px;
}

#perfil img {
    width: 200px;
    height: 200px;
    max-width: 100%;
    
}

#home {
    background-color: #FFF;
}

.app {
    width: 80%;
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.tasks {
    list-style: none;
    padding: 0;
}

.add-task input, .add-task button {
    width: 70%;
    padding: 10px;
    margin: 5px;
}

.add-task button {
    background-color: #007BFF;
    color: #fff;
    border: none;
    cursor: pointer;
}

.tasks button {
    background-color: #007BFF;
    color: #fff;
    border: white;
    cursor: pointer;
    border-style: double;
}
